/* 조선사업 본문 */

#content{width: 1200px; margin: 0 auto}
#content .line_map{float: right; margin: 0 40px 40px 0}
#content h2{clear: both ;text-align: center; font-size: 60px; font-weight: 700; font-family: 'Nanum Gothic', sans-serif; margin-bottom: 100px}
#content h3{font-size: 40px; font-weight: 700; font-family: 'Nanum Gothic', sans-serif; margin-bottom: 100px; text-align: center}
#content .slogan{font-size: 30px; line-height: 1.5em; font-family:'Nanum Myeongjo', serif; text-align: center}
#content .slogan>span{font-weight: 700; color: #255eab}
#content p{font-size: 18px; line-height: 1.7em; margin-bottom: 20px; font-family: 'Nanum Gothic', sans-serif; text-align: justify}


#content .content_area{margin:100px 40px 0 40px}

.content_area h4{font-size: 24px; font-family: 'Nanum Gothic', sans-serif; margin-bottom: 50px}

.content_area .guide{font-family: 'Nanum Gothic', sans-serif; font-size: 18px; line-height: 1.5em}
.content_area .guide .guide_img{background: url(../images/content3/guide.jpg)no-repeat; position: relative; overflow: hidden; width: 2000px; height: 300px; left: 50%; top:0; margin: 0 0 50px -1000px}
.content_area .guide .guide_img .slogan{margin: 120px 0; color: #fff; font-family: 'Nanum Gothic', sans-serif}
.content_area .guide dl{margin-bottom: 30px}
.content_area .guide dl dt{color: #255eab; font-size: 20px; font-weight: 700; margin-bottom: 20px}
.content_area .guide span{display: block; color: #255eab; font-size: 20px; font-weight: 700; font-family: 'Nanum Gothic', sans-serif; margin: 40px 0}

.content_area .guide ul li{margin-bottom: 50px; overflow: hidden}
.content_area .guide ul li ol{width: 1120px; height: 50px; position: relative}
.content_area .guide ul li:nth-child(2) ol::before{content: ''; position: absolute; top:75px; left: 20px; display: block; width: 1000px; height: 1px; background: #ccc; z-index: -1}
.content_area .guide ul li:nth-child(2) ol::after{content: ''; position: absolute; top:245px; left: 20px; display: block; width: 1000px; height: 1px; background: #ccc; z-index: -1}
.content_area .guide ul li:nth-child(2) ol li{width: 230px; height: 150px; border: 5px solid #ccc; float: left; text-align: center; padding-top: 40px; box-sizing: border-box; margin: 0 30px 20px 20px; background: #fff; border-radius: 25px}
.content_area .guide ul li:nth-child(3) ol::before{content: ''; position: absolute; top:75px; left: 30px; display: block; width: 1000px; height: 1px; background: #ccc; z-index: -1}
.content_area .guide ul li:nth-child(3) ol li{width: 160px; height: 150px; border: 5px solid #ccc; float: left; text-align: center; padding-top: 40px; box-sizing: border-box; margin-left: 20px; background: #fff; border-radius: 25px}
.content_area .guide ul li:nth-child(4) ol::before{content: ''; position: absolute; top:75px; left: 30px; display: block; width: 1000px; height: 1px; background: #ccc; z-index: -1}
.content_area .guide ul li:nth-child(4) ol li{width: 200px; height: 150px; border: 5px solid #ccc; float: left; text-align: center; padding-top: 40px; box-sizing: border-box; margin-left: 20px; background: #fff; border-radius: 25px}
.content_area .guide table{width: 1120px; font-size: 18px; font-family: 'Nanum Gothic', sans-serif; margin: 10px 0; border-top: 2px solid #ccc;}
.content_area .guide table thead tr{height: 70px; font-size: 18px;border-bottom: 3px solid #ccc; color: #255eab}
.content_area .guide table tbody tr{height: 70px; border-bottom: 1px solid #ccc}
.content_area .guide table tfoot tr{height: 70px; border-bottom: 2px solid #ccc}
.content_area .guide table th{width: 100px}