/* 해양사업 */
h2{text-align: center; font-size: 20px; font-weight: 700; margin: 20px 0}

.main{margin-bottom: 60px; position: relative; top: 40px; left: 0}
.main img{width: 100%}
.main h3{width: 25% ;position: absolute; top: 30%; left: 50%; margin-left: -10%;color: #fff; font-size: 5vw}

#content{position: relative}
#content section{margin: 20px 0; text-align: justify}
#content a{display: block; width: 10%; height: 10%; position: absolute; font-size: 24px; padding: 10px 0; text-align: center; top: 50%; color: #0c4da2}
#content p{margin: 20px 2%}
#content h4{text-align: center; margin: 20px 0}

#content ul{height: 340px}
#content ul li{width: 80%; margin: 20px 10%}
#content li img{width: 100%; height: 235px}
#content li p{font-size: 16px; text-align: center}
#content section:nth-of-type(2){position: relative; overflow: hidden}
#content .left{left: 0}
#content .right{right: 0}