/* 기업정보 본문 */

#content{width: 1200px; margin: 0 auto}
#content .title_area{}
#content .line_map{float: right; margin: 0 40px 40px 0}
#content .content_area{margin: 0 40px 0 40px; overflow: hidden}
#content h2{clear: both ;text-align: center; font-size: 60px; font-weight: 700; font-family: 'Nanum Gothic', sans-serif; margin-bottom: 100px}
#content h3{font-size: 40px; font-weight: 700; font-family: 'Nanum Gothic', sans-serif; margin-bottom: 40px}
#content .slogan{font-size: 30px; line-height: 1.5em; font-family: 'Nanum Myeongjo', serif; text-align: center; margin-bottom: 100px}
#content .slogan>span{font-weight: 700; color: #255eab}
#content p{font-size: 18px; line-height: 1.7em; margin-bottom: 20px; font-family: 'Nanum Gothic', sans-serif; text-align: justify}
#content .content_area{margin-bottom: 100px}
#content .content_area .content_top{}
#content .content_area .content_top img{float: right; margin-left: 40px}
#content .content_area .content_bottom{}
#content .content_area .content_bottom img{float: left}